.card{
    background-color: #001;
    border: rgba(81, 18, 228, 0.623) solid 1px;
    
 }

 #white{
    color: #fff;
    font-weight: bold;
 }

 .text-center  .fw-bold .mt-5
 {
     font-size: 2em;
     font-weight: bold;
     font-family: "'Couier New', Courier, monospace";
    margin-top: 60px;
    margin-left: 190px;
 }

 #list 
 {
   position: relative;
   margin: 30px 190px;
   text-align: center;
 }

 #fetch
 {
   position: relative;
   margin: 50px 190px;
   text-align: center;
   box-sizing: content-box;
 }
